// GENERAL
$AppBaseColor1:#311d5f;
$AppBaseColor2:hsl(240, 30%, 89%);

$AppBackGroundColor:#f9f9f9;

$AppFontSize: 11px;

// TOP BAR
$AppTopBarColor: white;
$AppTopBarHeight: 55px;

// FOOTER
$AppFooterColor: whitesmoke;