
/**
  @CreatedBy        : Vasanth Varatharajan
  @CreatedTime      : December 14 2022
**/

.header-col2 {
    background-color: white;
}

.heder-profile {
    text-align: end;
    margin-bottom: -15px;

}


